# Enable rewrite engine and route requests to framework
RewriteEngine On
RewriteBase /skillico/

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /skillico/index.php [L,QSA]