/* 
* Amazium V1.2
* Copyright 2012, Mike Ballan
* www.amazium.co.uk
*/


/***** Reset & Basics *****/

html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
embed, figure, figcaption, footer,
header, hgroup, menu, nav, output,
ruby, section, summary, time, mark,
audio, video 							{ margin: 0; padding: 0; border: 0; font-size:100%; font:inherit; vertical-align:baseline; }

article, aside, details, figcaption, 
figure, footer, header, hgroup, menu, 
nav, section 							{ display:block; }

body 									{ line-height:1; }

ol, ul 									{ list-style:none; }

blockquote, q 							{ quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after 						{ content:''; content:none; }

table 									{ border-collapse:collapse; border-spacing:0; }
	
/***** Basic Styles *****/

html 									{ overflow-y:scroll; overflow:-moz-scrollbars-vertical; }
body									{ 
	margin:0 0 0 0; 
	padding:0; 
	background-color:#fff; 
	font-size:12px; 
	font-family: Tahoma, Arial, sans-serif;
	color:#909090; 
	line-height:1.5em;
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
}

/***** Typography *****/



h1, h2, h3, h4, h5, h6 					{ 
	margin:0; 
	padding:0; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:normal; 
	color:#2c2c2c;
	text-transform:none;
	line-height:1.6em;
} 

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a 		{ font-weight: inherit; }
h1 										{ margin:0 0 15px 0; padding:0; font-size:28px; }
h2										{ margin:0 0 15px 0; padding:0; font-size:22px; }
h3 										{ margin:0 0 15px 0; padding:0; font-size:18px; }
h4 										{ margin:0 0 15px 0; padding:0; font-size:16px; font-weight:bold; }
h5 										{ margin:0 0 15px 0; padding:0; font-size:14px; font-weight:bold;}
h6 										{ margin:0 0 15px 0; padding:0; font-size:12px; font-weight:bold;}

p 										{ margin: 0 0 15px 0; line-height: 20px;}



sup, sub 								{ height:0;	line-height:1px; vertical-align:baseline; _vertical-align:bottom; position:relative; }
sup 									{ bottom:1px; }
sub 									{ top:1px; font-size:.6em; }
em 										{ font-style:italic; color:#666; }
strong 									{ font-weight:bold; color:#333; }
small 									{ font-size:80%; }


/* add special */

h4.title {
	font-weight:normal;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
}

.intro h2 {
	font-family:'Droid Serif', georgia, serif;
	font-style:italic;

}

.features h4 {
	font-weight:bold;
	font-size:14px;
	margin-bottom:0;
}

h5.latin, h6.latin {
	font-family:'Droid Serif', georgia, serif;
	font-style:italic;
	font-weight:normal;
	color:#bbb;
}

#accordion h6, .toggle h6 {
	font-size:12px;
}

.callout .text h3 {
	font-size:16px;
	line-height:1.5em;
	font-weight:bold;
	text-transform:none;
}

article h3 {
	font-weight:bold;
	margin-bottom:20px;
}

article h3 a {
	color:#333;

}

.row .title h4 {
	border-bottom:1px solid #e9e9e9;
	padding-bottom:20px;
	margin-bottom:20px;
}

a.textlink {
	font-size:11px;
}

/***** Blockquotes *****/

	blockquote, blockquote p 					{ line-height:1.6em; color:#888; font-style:italic; }
	blockquote 							{ 
		margin:0px 0 15px 0; padding:0 0 0 27px; 
		background:url(../images/icons/quote.png) no-repeat 0% 4px;
		font-style:italic;  
		font-variant:normal; 
		font-weight:normal; 
		font-size:12px; 
		font-family:'Droid Serif', georgia, serif;
		
	}
	blockquote cite 							{ display:block; font-size:12px; color:#555; }
	blockquote cite:before 					{ content:"\2014 \0020"; }
	blockquote cite a,
	blockquote cite a:visited,
	blockquote cite a:visited 				{ color:#555; }
	blockquote span							{ width:15px; display:inline-block; }

hr 										{ margin:20px 0 20px 0; border:0; border-top:1px solid #999; height:2px; width:100%; text-align:left; }

/*------------------- preformated text, code --------------------*/
code, pre {
	font-family: "Andale Mono", AndaleMono, monospace;
	border-top:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
  	background:#fefefe;
  	padding:7px 10px;
	font-size:11px;
  	display:block;
  	color:#858585;
  	margin-bottom:10px;
	border-left:10px solid #e9e9e9;
}

/***** Links *****/

ul li a, a 									{ color:#909090; text-decoration:none; outline:0; transition-property:color .1s linear 0s; -moz-transition:color .1s linear 0s; -webkit-transition:color .1s linear 0s; -o-transition:color .1s linear 0s; }

a { color:#444;}


#content a.more {
	font-size:11px;
}

/**** Form ****/
	fieldset { margin-bottom: 20px; }
	
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ddd;
		padding: 9px;
		outline: none;
		font: 12px Arial, sans-serif;
		color: #888;
		margin: 0;
		width:100%;
		max-width: 100%;
		display: block;
		background: #fff;
		-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
		box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
		}
	select {
		padding: 0;}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
 		color: #666; 
		}
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 12px; 
		font-weight: normal;
		margin-bottom: 8px;}
	select {
		 }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 11px;
		color: #444; }

/********** */
ul.breadcrumb li {
	
	color:#888;
}

/***** Images iFrames & Videos  *****/

img 									{ border:0; -ms-interpolation-mode:bicubic; }
.max-img 								{ width:100%; height:auto; }		
.video-container,.map-container 		{ position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:1px solid #ccc; }
.video-container iframe,
.map-container iframe,
.map-container object,
.map-container embed,
.video-container object,  
.video-container embed 					{ position:absolute; top:0; left:0; width:100%; height:100%; }

/***** Tables  *****/

table									{ margin:0 0 20px 0; width:100%; }
table th 								{ padding:10px 8px 10px 8px; background-color:#e2e2e2; color:#333; font-weight:bold; border:1px solid #999; }
table td 								{ padding:10px 8px 10px 8px; background-color:#e2e2e2; color:#333; border:1px solid #999; }
table tr.even td 						{ background-color:#fff; }
table tr.odd td 						{ background-color:#f3f3f3; }
table td.highlight 						{ color:#FFF; font-weight:bold; }
table tr td.highlight					{ background-color:#333;  }


	
/***** Global Classes *****/

img {
	margin-bottom:10px;
}

.img-left   							{ float:left; margin:0 30px 30px 0; border:none; }
.img-right  							{ float:right; margin:0 0 30px 30px; border:none; }
	
.clear       							{ clear:both; }
.float-left 							{ float:left; }
.float-right   							{ float:right; }

.text-big								{ color:#a2bd30; font-weight:bold; line-height:26px; }
.text-left    							{ text-align:left; }
.text-right    							{ text-align:right; }
.text-center   							{ text-align:center; }
.text-justify  							{ text-align:justify; }

.normal									{ font-weight:normal; }
.bold          							{ font-weight:bold; }
.italic        							{ font-style:italic; }
.underline     							{ border-bottom:1px solid; }
.highlight     							{ background:#ffc; }

.nopadding 						   		{ padding:0; }
.noindent  						   		{ margin-left:0; padding-left:0; }
.nobullet  					   			{ list-style:none; list-style-image:none; }

.block									{ display:block; }
.hidden									{ display:none; }
.hide 									{ display:none; }

