html, body, div, ul {
	margin: 0;
	padding: 0;
}

body {
    color: #262626;
	background: transparent;
	font: normal 12px/18px Verdana, sans-serif;
	overflow-x:hidden;
}

#master {
	width: 100%;
	height:auto;
	/* margin: 0px auto 0 auto; */
}

div#enchereSetUp{
	display: none;
}

#map {
        width: 98%;
        height: 300px;
        border:7px solid #1794d5;
      }

#addr {
	width:91%;
	margin-right:8px;
	margin-top:1px;
}

#address{
	width:88%;
}

#list a {
    color:#686767;
    text-decoration:none;
}
#list a:hover {
    color:#0091ff;
}

#localiser{
	margin-left:-34px;
    cursor:hand;
    cursor:pointer;
    padding:5px;
    height:31px;
    background-color:#1794d5;
    background: -moz-linear-gradient(center top , #666666, #000000) repeat scroll 0 0 transparent;
    color:#FFF;
}

#search_frm input[type=submit] {
    cursor:hand;
    padding:7px;
    cursor:pointer;
    height:33px;
    width:80px;
    background-color:#1794d5;
    color:#FFF;
    -webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#title {
	width: 100%;
	/* margin: 0px auto 0 auto; */
	padding: 10px 0px 20px 0px;
	background: #178cc9;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#content {
	width: 100%;
	margin: 0px auto 0 auto;
	padding: 20px 0px 20px 0px;
	background: #e1ecf0;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#content-title {
	width: 100%;
	padding-left:15px;
	color:#FFF;
}

#content-form {
	width: 91%;
	padding-left:15px;
	margin-right:70px;
}

h1 {
	margin: 30px 0 15px 0;
	font-size: 30px;
	font-weight: bold;
	font-family: Arial;
}

h1 span {
	font-size: 50%;
	letter-spacing: -0.05em;
}

h2 {
	color:#1794d5;
}

label {
	color:#686767 ;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #E5E5E5;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding: 7px 0;
}

a {
	outline: none;
}

a img {
	border: 1px solid #BBB;
	padding: 2px;
	margin: 10px 20px 10px 0;
	vertical-align: top;
}

a img.last {
	margin-right: 0;	
}

ul {
	margin-bottom: 24px;
	padding-left: 30px;
}


/* STYLE DES CHAMPS INPUT */

.info {
	background:#cfe4ee;
	padding:15px;
	margin:10px;
	width:100%;
}

.info_mentions {
	padding:5px;
	padding-top:20px;
	margin-left:10px;
	width:100%;
}

.info_button {
	padding:5px;
	margin:10px;
	width:100%;
	text-align:center;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
		position:relative;
		border: 1px solid #ddd;
		padding: 9px;
		outline: none;
		font: 12px Arial, sans-serif;
		color: #888;
		margin-right: 40px;
		width:98%;
		max-width: 100%;
		background: #fff;
		-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
		box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}

#ma_mission {
	padding-bottom:30px;
}

.mon_select {
	width:50%; 
	float:left;
}

select, option {
	position:relative;
	border: 1px solid #ddd;
	padding: 9px;
	outline: none;
	font: 12px Arial, sans-serif;
	color: #888;
	margin-right: 40px;
	width:80%;
	height:25px;
	max-width: 100%;
	background: #fff;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
	color: #666; 
	}
textarea {
	min-height: 60px; 
}

input.postuler{
	border: 1px solid 00748f;
	width: 200px;
	height: 50px;
	padding: 5px;
	cursor: pointer;
	font: bold 20px Arial, Helvetica;
	color: #fafafa;
	text-transform: uppercase;
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}

/* Style de la scrollbar */
::-webkit-scrollbar {
    width: 13px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(195,212,233,1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(245,245,245,0.5);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(23,148,213,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}