
/***** Screen Bigger than 960px *****/
@media only screen and (min-width:1200px) {

.grid_3.nomargin 	{ width:290px; margin:0; overflow:hidden; float:left; display:inline; }
.grid_6.nomargin 	{ width:580px; margin:0; overflow:hidden; float:left; display:inline; }
}

/***** Screen min width 960px *****/
@media only screen and (min-width: 960px) and (max-width: 1199px) {	

.grid_3.nomargin 	{ width:232px; margin:0; overflow:hidden; float:left; display:inline; }



.iview-caption {
	font-size: 14px;
	line-height:1.5em;
}

.callout .text p  {
	line-height:1.5em;
}

.date-box,.comment-box{
	width:100%;
}

.panes {
	width:99.0%;

}

}


/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {

.grid_3.nomargin 	{ width:185px; margin:0; overflow:hidden; float:left; display:inline; }
	
.iview-caption {
	font-size: 16px;
	line-height:1.5em;
}

.date-box,.comment-box{
	width:100%;
}

.post-meta .bwWrapper img {
	max-width:100%;
	height:auto;
}

.callout .text p  {
	line-height:1.5em;
}

	ul.tabs li {
		display: block;
		width: 100%;
		height: 30px;
		float: left;
		margin-bottom: 0; 
	}
		
ul.tabs li a {
	border: solid 1px #ddd;
}

	ul.tabs li:first-child a.active {
	border-bottom: solid 1px #ddd; 
}
	
	ul.tabs li a.active {
		border-left-width: 1px;
		margin: 0;
		color: #444444;
		}
		
.panes {
	width:99.0%;

}

}



/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {

header .topstatic .call_contact {
	display:none;
}

.wrapped {
	border-right:none;
}

.iview-caption {
	font-size: 16px;
	line-height:1.5em;
}



/* disable top menu */
.topnav ul { display:none; }

/* main nav convert to select nav */

      nav ul     { display: none; }
      nav select { display: inline-block; }
	  nav select {
			width:100%;
			padding:10px;
			margin-top:8px;
			margin-bottom:30px;
		}
	
.sidebar_left {
	border:1px solid #ddd;
	padding:10px;
	margin-bottom:30px;
}

.sidebar_right {
	border:1px solid #ddd;
	padding:20px;
	margin-top:30px;
}

footer .grid_3 {
	margin-bottom:30px;
}	

}


	
/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {


#logg {
	display:none;
}


.post-meta .bwWrapper img {
	float:left;
	margin-right:20px;
}

.post-meta ul.post-cat {
	float:left;
}



footer .footnote {
	text-align:center;
}

footer .footnote .credits p {
	text-align:center;
}

ul.breadcrumb {
	float:left;
	margin-bottom:30px;
}
ul.breadcrumb li {
	margin-bottom:10px;
}

#searchForm {
    float:left;
	width:100%;
}

}

@media only screen and (min-width: 320px) and (max-width: 479px) {


#logg {
	display:none;
}


#iview {
	display:none;
}

.mobile-only {
	display:inline-block;
}

footer .footnote {
	text-align:center;
}

footer .footnote .credits p {
	text-align:center;
}

ul.breadcrumb {
	float:left;
	margin-bottom:30px;
}
ul.breadcrumb li {
	margin-bottom:10px;
}

#searchForm {
    float:left;
}
}

/***** Retina *****/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

nav select { display: inline-block; }

}

#search{border: 1px solid #ddd;
padding: 9px;
outline: none;
font: 12px Arial, sans-serif;
color: #888;
margin: 0;
width: 100%;
max-width: 100%;
display: block;
background: #fff;
-webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
width: 85%;
margin: auto;
}