/* general */
.bgcolor {
	background:#1794d5;
}

.color {
	color:#1794d5;
}


a.textlink {
	color:#1794d5;
}

a:hover, .tweet.dark a:hover, ul#portfolio-filter a:hover {
	color:#1794d5;
}

a.visiblecolor {
	color:#1794d5;
}

a.visiblecolor:hover{
	text-decoration:underline;
}

/* menu */
.topnav ul li a:hover,.topnav ul li.selected a {
	color:#1794d5;
}

header nav ul li:hover, header nav ul li.selected {
	border-bottom:4px solid #1794d5;
} 

header nav ul li.selected a,header nav ul li.selected li a:hover{
	color:#1794d5;
} 


/* form */
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #1794d5;
	}


footer a:hover {
	color:#1794d5;
}

/* more links */

.wrapped:hover a.more {
	color:#1794d5;
}

a.striplink:hover {
	color:#1794d5;
	background:url(../images/orange/link-strip.png) no-repeat left;
}

a.striplink span:hover {
	background:url(../images/orange/link-strip.png) no-repeat right;
}


/* Homepage */

.features h5 {

}

.cta-area {

}

span.overlay:hover {
	background-color:#1794d5;
}

/* blog, post */ 

.date-box .month-year,.comment-box .comment {
	background-color:#1794d5;
}


article .post-meta p.meta span.author a {
	color:#1794d5;
}

article .post-meta p.meta span.author a:hover {
	color:#1794d5;
}

.comment-text .comment-author p span.name a:hover {
	color:#1794d5;
}

/* pricing table */
.pricing_table ul:hover { 
	border:1px solid #1794d5;
		-webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all  0.5s ease;
}